<!DOCTYPE html>
<html>
<head>
	<title>Пользователи</title>
	<link rel="icon" type="image/png" href="/_static/img/favicon.png">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
	<link rel="stylesheet" type="text/css" href="/_static/css/user.css">
	<script type="text/javascript" charset="utf-8" src="/_static/js/user.js"></script>
	<script src="/_static/js/jquery.js"></script>
</head>

<body>

<div class="main">

{# Header #}
<div class="page-header">
	<a class="page-logo" href="/">WikiNote</a>
</div>


{% block content %}

{% endblock %}


<div class="footer">
	<a href="http://wikinote.me/faq">Вопросы</a>
	<a href="mailto:melnikov.ivan@gmail.com">Контакты</a>
	2012-2017 &copy; WikiNote
</div>

</div>

</body>
</html>